.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 24px;
  margin-right: 8px;
  padding: 16px 8px 8px 40px;
  width: 100%;
}

.header-home {
  flex-direction: column;
  padding: 8px;
}

.header-text {
  border-left: 1px solid red;
  color: #E00056;
  margin-left: 10px;
  padding-left: 10px;
}

.header-text-home {
  font-size: 36px;
  border-left: none;
  border-top: 2px solid red;
  margin-top: 8px;
  margin-left: none;
  padding-left: none;
}

.logo {
  width: 100px;
  height: 100px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .header-home > .logo {
    animation: logo-spin infinite 10s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
