.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h2 {
  margin-bottom: 32px;
  width: 200px;
  text-align: center;
}

footer {
  display: flex;
  justify-content: center;
}